.sba-button-action {
    -st-icon-style: symbolic;
    border-radius: 32px;
    margin: 0px;
    min-height: 22px;
    min-width: 22px;
    padding: 10px;
    font-size: 100%;
    border: 1px solid transparent;
}

.sba-button-action:hover, .sba-button-action:focus {
    border-color: #777;
}
.sba-button-action > StIcon {
    icon-size: 16px;
}
